/*import home style*/
@import url(../css/style.css);
/*import sigin style*/
@import url(../css/signin.css);

body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

main {
    width: 100vw;
    min-height: 40vh;
    padding: 80px 0;
}

section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}


main .sign_in {
    padding-top:2.5rem ;
    height: 100vh;
    width: 100vw;
}

form i{
    color: var(--white);
}

/*Single purpose classes*/
.border-radius {
    border-radius: 15px;
}

.center_text {
    text-align: center;
}

.text_style {
    font-family: var(--Lexend);
}

/* shopping cart */
section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}

table {
    width: 40rem;
    flex-direction: column;
    align-items: center;
    border-collapse: collapse;
    text-align: center;
}

th {
    background-color: var(--secondary-background);
    color: var(--white);
    border-collapse: collapse;
    height: 70px;
}

.table-title th {
    background-color: var(--alternative-secondary-bg);
    border-bottom: 1px solid var(--white);
    font-size: 25px; 
    height: 70px;
}
.table-subtitle{
    height: 40px;
    background-color: var(--alternative-secondary-bg);
    border-bottom: 1px solid var(--white);
}

.table-rows th{
    padding: 0rem 1rem;
    border-top: 1px solid var(--white); 
}


.table-foot-total {
    border-top: 1px solid var(--white);      
    font-size: 18px;
    height: 70px;
    background-color: var(--alternative-secondary-bg);
}

th img{
    margin: 0.3rem 0rem;
    width: 7rem;
    height: auto;
}

.counter {
    width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter input {
    width: 45px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background: var(--primary);
    color: var(--white);
    appearance: none;
    outline: 0;
}
.counter span { 
    height: 2rem;
    width: 2rem;
    border: 1px solid var(--secondary);
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: var(--primary);
    user-select: none;
}

.counter span:hover {
    color: var(--secondary);
    background: transparent;
}

/* Delivery information */
.container-adress-information{    
    background-color: var(--alternative-secondary-bg);
    height: 35rem;
}


.adress-information-center{
    display: flex;
    flex-direction: row;
    align-items: flex-start;  
    justify-content: center;
}

.adress-information-title {
    top: 3rem;  
}

.container-adress{
    background-color: var(--blue);
}

.insert-name {
    top: 3rem;
}

.insert-email {
    top: 3.5rem;
}

.insert-street {
    top: 4rem;
}
.insert-neighborhood {
    top: 4.5rem;
}

.insert-city {
    top:5rem;
}
.insert-zipcode {
    display: inline-flex;
    top: 5.5rem;
    width: 13.3rem;
}

.house-number{
    display: inline-flex;
    top: 5.5rem;
    left: 10rem;
    width: 6rem;
}

.insert-country {
    top: 6rem;
}

.buy-button {
    top: 7rem;
}