/*import home style*/
@import url(../css/style.css);

body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

main {
    width: 100vw;
    min-height: 40vh;
    padding: 80px 0;
}

section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}


main .sign_in {
    padding-top:2.5rem ;
    height: 100vh;
    width: 100vw;
}

form i{
    color: var(--white);
}

/*Single purpose classes*/
.border-radius {
    border-radius: 15px;
}

.center_text {
    text-align: center;
}

.text_style {
    font-family: var(--Lexend);
}

/* shopping cart */
section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}

table {
    width: 40rem;
    flex-direction: column;
    align-items: center;
    border-collapse: collapse;
    text-align: center;
}

th {
    background-color: var(--secondary-background);
    color: var(--white);
    border-collapse: collapse;
    height: 70px;
}

.table-title th {
    background-color: var(--alternative-secondary-bg);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid var(--white);
    font-size: 22px; 
    height: 70px;
}
.table-subtitle{
    height: 40px;
    background-color: var(--alternative-secondary-bg);
    border-bottom: 1px solid var(--white);
}


.table-foot-total {
    border-top: 1px solid var(--white);      
    font-size: 18px;
    height: 70px;
    background-color: var(--alternative-secondary-bg);
}

th img{
    width: 8rem;
    height: 5rem;
}

.counter {
    width: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter input {
    width: 45px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background: var(--primary);
    color: var(--white);
    appearance: none;
    outline: 0;
}
.counter span {
    height: 2rem;
    width: 2rem;
    border: 1px solid var(--secondary);
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: var(--primary);
    user-select: none;
}

.counter span:hover {
    color: var(--secondary);
    background: transparent;
}
