@import url(/css/fonts.css);

html,
body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    --jet: #353535;
    --ming: #3C6E71;
    --gainsboro: #D9D9D9;
    --indigo-dye: #284B63;
    --white: #ffffff;
    --black: #0f0f0f;
    --Abel: 'Abel', cursidve;
    --Anton: 'Anton', cursive;
    --Bebas_Neue: 'Bebas_Neue', cursive;
    --Lexend: 'Lexend', cursive;
}


.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a{
    font-family: var(--Abel);
    text-decoration: none;
    color: var(--white);
}


/* Navbar */

.nav {
    background: var(--indigo-dye);
    padding: 0 1rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: 1s ease-in-out;
}

.nav .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
    color: var(--white);
}

.collapse {
    height: 30rem;
}

.nav .nav-items {
    list-style-type: none;
    display: flex;
    margin: 0%;
}

.nav .nav-items .nav-link {
    padding: 1.3rem 1rem;
    font-size: 1.3rem;
    position: relative;
    font-family: var(--Abel);
    transition: 50ms ease-in-out;
}

.nav .nav-items .nav-link:hover {
    background-color: rgba(60, 110, 113,0.3);
}

.nav .nav-items .nav-link:hover a {
    color: rgba(255, 255, 255, 0.6);
}

.nav .nav-brand a {
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
}

.nav .social{
    padding: 1.4rem 0
}

.nav .social a{
    font-size: 1.4rem ;
    padding: 0 0.3rem;
}

.nav .social a:hover{
    color: rgba(255, 255, 255, 0.6);
}


/*@media only screen and (max-width: 1130px) {
    
}*/

@media only screen and (max-width:750px) {
    .nav .nav-menu,
    .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse {
        display: initial;
    }
}

@media only screen and (max-width: 520px) {
    .nav .toggle-collapse {
        width: 80% !important;
    }
  
}