@import url(../css/fonts.css);

html,
body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


:root {
    --jet: #353535;
    --ming: #3C6E71;
    --gainsboro: #D9D9D9;
    --indigo-dye: #284B63;
    --white: #ffffff;
    --black: #0f0f0f;
    --Abel: 'Abel', cursidve;
    --Anton: 'Anton', cursive;
    --Bebas_Neue: 'Bebas_Neue', cursive;
    --Lexend: 'Lexend', cursive;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
    margin: 0 5vw;
}

button.btn {
    border: none;
    border-radius: 1.3rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Lexend);
    cursor: pointer;
    color: var(--white);
}

a {
    font-family: var(--Abel);
    text-decoration: none;
    font-weight: bold;
    color: var(--white);
}


img {
    max-width: 100%;
}

ul {
    list-style: none;
}


h1 {
    font-family: var(--Lexend);
    font-size: 2.5rem;
}

h2 {
    font-family: var(--Lexend);
}

h3 {
    font-family: var(--Lexend);
    font-size: 1.3rem;
}

h4{
    font-size: 1.2rem;
    font-family: var(--Abel);
}


header {
    width: 100%;
    position: fixed;
    z-index: 10;
}


/* Navbar */

.nav {
    background: var(--indigo-dye);
    margin: 0%;
    padding: 0 1rem;
    height: 0rem;
    min-height: 8vh;
    overflow: hidden;
    transition: 1s ease-in-out;
}

.nav .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
    color: var(--white);
}

.collapse {
    height: 30rem;
}

.nav .nav-items {
    display: flex;
    margin: 0%;
}

.nav .nav-items .nav-link {
    padding: 1.3rem 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    position: relative;
    font-family: var(--Abel);
    transition: 50ms ease-in-out;
}

.nav .nav-items .nav-link:hover {
    background-color: rgba(60, 110, 113, 0.3);
}

.nav .nav-items .nav-link:hover a {
    color: rgba(255, 255, 255, 0.6);
}

.nav .nav-brand a {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1rem 0;
    display: inline-block;
    font-family: var(--Lexend);
}

#joystick-brand-icon {
    float: left;
    padding: 1rem 0.5rem;
}


.nav .nav-icons {
    display: flex;
    position: relative;
}

.nav .nav-icons .icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
    transition: 0.3s ease-in-out;
}

.nav .nav-icons .icon-item:link,
.nav .nav-icons .icon-item:visited {
    color: var(--white);
}

.nav .nav-icons .icon-item:hover {
    background-color: rgba(60, 110, 113, 0.3);
}

.nav .nav-icons .icon-item:not(:last-child) {
    margin-right: 1rem;
}

.nav .nav-icons #cart-total {
    font-size: 1rem;
    position: absolute;
    top: 2px;
    right: -6px;
    background-color: var(--ming);
    padding: 0.2rem 0.4rem;
    border-radius: 100%;
    color: var(--white);
}


/*Carousel*/

.hero,
.hero .glide__slides {
    margin: 0 0.2rem;
    padding: 0rem 0.4rem;
    background-color: var(--white);
    position: relative;
    width: 100%;
    height: 100vh;
}

.hero .glide__bullet {
    background-color: #222;
    width: 1rem;
    height: 1rem;
}

.hero .glide__arrow {
    padding: 0.9rem 1rem;
    opacity: 0;
    border: none;
    background-color: var(--jet);
    transition: all 0.5s ease-in-out 0.2s;
}

.glide__arrow:hover {
    background-color: var(--black);
}

.glide__arrow--left {
    left: 20rem;
}

.glide__arrow--right {
    position: absolute;
    right: 20rem;
}

.hero:hover .glide__arrow {
    opacity: 0.8;
}

.hero:hover .glide__arrow--left {
    left: 20rem;
}

.hero:hover .glide__arrow--right {
    right: 20rem;
}

.hero .glide__arrow {
    border-radius: 50%;
}

.hero__center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 114rem;
    margin: 0 auto;
    height: 100%;
    padding-top: 3rem;
}

.hero__left {
    padding: 0 3rem;
    flex: 0 0 50%;
}

.hero__btn {
    display: inline-block;
    font-weight: 700;
    font-size: 1.4rem;
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
    padding: 1rem 4rem;
    border: 1px solid var(--black);
    transition: all 0.3s ease-in-out;
}

.hero__btn:focus {
    outline: none;
}

.hero__left .hero__btn:hover {
    font-weight: 700;
    background-color: transparent;
    color: var(--black);
}

.hero__left h1 {
    margin: 1rem 0;
}

.hero__left p {
    margin-bottom: 1rem;
}

.hero__right {
    flex: 0 0 50%;
    position: relative;
    text-align: center;
}

/* Most Popular */ 


main .container h2{
    text-align: center;
}


main .post .game-post {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
}

main .post .game-post :hover{
    cursor: pointer;
}

main .post .game-post .game-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 1rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
}
main .game-post .game-content > div {
    overflow: hidden;
}

main .game-post .game-content img{
    transition: all 1s ease;
}

main .game-post .game-content img:hover{
    transform: scale(1.3);
    cursor: pointer;
}

main .game-content .game-title{
    color: var(--black);
    padding: 2rem 0;
}

main .game-content .btn-access {
    padding: .7rem 2rem;
    border: 1px solid var(--black);
    background: var(--black);
    margin: .5rem;
    transition: all 0.3s ease-in-out;
}

main .game-content .btn-access:hover {
    font-weight: 700;
    background-color: transparent;
    color: var(--black);
}

/* New products */

main .products {
    padding-top: 3rem;
    height: 100vh;
    width: 100vw;
    background-size: 65%;
}


main .products .game-post {
    display: flex;
    flex-direction: row;
}

main .products .game-post .game-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 0.4rem 3rem;
    box-shadow: 2px rgba(0, 0, 0, 0.5);
}

main .products .game-post .game-content .addCart {
    position: relative;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    bottom: 2.4rem;
    background-color: var(--white);
    border-radius: 50%;
    transition: all 300ms ease-in-out;
  }
  
  main .products .game-post .game-content .addCart:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--white);
  }

 main .products .game-post .game-content .bottom {
    text-align: center;
  }
  
 main .products .game-post .game-content .bottom a {
    color: var(--black);
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
  }

  main .products .game-post .game-content .bottom span {
    padding-bottom: 0.4rem;
    font-family: var(--Lexend);
  }
  
  main .products .game-post .game-content .bottom a:hover {
    color: var(--gainsboro);
  }

  /* Sale */ 

main .sale {
    padding-top: 3rem;
    height: 100vh;
    width: 100vw;
    background-size: 65%;
}


main .sale .game-post {
    display: flex;
    flex-direction: row;
}

main .sale .game-post .game-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 0.4rem 3rem;
    box-shadow: 2px rgba(0, 0, 0, 0.5);
}

main .sale .game-post .game-content .addCart {
    position: relative;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    bottom: 2.4rem;
    background-color: var(--white);
    border-radius: 50%;
    transition: all 300ms ease-in-out;
  }
  
  main .sale  .game-post .game-content .addCart:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--white);
  }

 main .sale .game-post .game-content .bottom {
    text-align: center;
  }
  
 main .sale .game-post .game-content .bottom a {
    color: var(--black);
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
  }

  main .sale  .game-post .game-content .bottom span {
    padding-bottom: 0.4rem;
    font-family: var(--Lexend);
  }
  
  main .sale  .game-post .game-content .bottom a:hover {
    color: var(--gainsboro);
  }




/* Footer */

footer.footer {
    height: 100%;
    background: var(--ming);
    position: relative;
}

footer.footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container .footer-center{
    display: flex;
    flex-direction: column;
}

footer.footer .container .footer-center a{
    transition: 50ms ease-in-out;
    padding: 0.2rem 0rem;
}

footer.footer .container .footer-center a:hover {
    color: var(--indigo-dye);
}

footer.footer .container>div {
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem 0.9rem;
}

footer.footer .follow .social {
    justify-content: flex-end;
    padding: 0.3rem;
}

footer.footer .follow .social i {
    padding: 0.2rem;
    font-size: 1.4rem;
}

footer.footer .follow .social i:hover {
    color: var(--indigo-dye);
}

footer.footer .follow div i {
    color: var(--white);
    padding: 0 .4rem;
}

footer.footer .rights {
    justify-content: center;
    font-family: var(--Lexend);
}



/* Footer*/

/*@media only screen and (max-width: 1130px) {
    
}*/

@media only screen and (max-width:750px) {

    .nav .nav-menu,
    .nav .nav-items {
        flex-direction: column;
    }

    .nav .toggle-collapse {
        display: initial;
    }
}

@media only screen and (max-width: 520px) {
    .nav .toggle-collapse {
        width: 80% !important;
    }
}