 <!-- Footer -->
 <footer class="footer">
     <div class="container">
         <div class="footer-center">
             <h3>EXTRAS</h3>
             <a href="#">Brands</a>
             <a href="#">Gift Certificates</a>
             <a href="#">Affiliate</a>
             <a href="#">Specials</a>
             <a href="#">Site Map</a>
         </div>
         <div class="footer-center">
             <h3>INFORMATION</h3>
             <a href="#">About Us</a>
             <a href="#">Privacy Policy</a>
             <a href="#">Terms & Conditions</a>
             <a href="#">Contact Us</a>
             <a href="#">Site Map</a>
         </div>
         <div class="footer-center">
             <h3>MY ACCOUNT</h3>
             <a href="#">My Account</a>
             <a href="#">Order History</a>
             <a href="#">Wish List</a>
             <a href="#">Newsletter</a>
             <a href="#">Returns</a>
         </div>
         <div class="follow">
             <h3>FOLLOW US</h3>
             <div class="social">
                 <a href="#"><i class="fab fa-facebook-f"></i></a>
                 <a href="#"><i class="fab fa-instagram"></i></a>
                 <a href="#"><i class="fab fa-twitter"></i></a>
                 <a href="#"><i class="fab fa-youtube"></i></a>
             </div>
         </div>
     </div>
 </footer>

 
<a href="#" class="goto-top scroll-link">
    <i class="fas fa-arrow-up"></i>
</a>



 <!-- Glide Carousel Script -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>

 <!--JQuery Library -->
 <script src="{{URL}}/app/resources/js/Jquery3.4.1.min.js"></script>

 <!-- AOS js Library -->
 <script src="{{URL}}/app/resources/js/aos.js"></script>

 <!-- Glide Configs -->
 <script src="{{URL}}/app/resources/js/glide.js"></script>

 <!--Main Script-->
 <script src="{{URL}}/app/resources/js/script.js"></script>

  <!--Cart Script-->
  <script src="{{URL}}/app/resources/js/cart.js"></script>