<!-- Header -->
<header>
    <!-- Navigation -->
    <nav class="nav">
        <div class="nav-menu flex">
            <div class="nav-brand">
                <img src="{{URL}}/app/Resources/images/game-controller.png" alt="joystick brand icon" id="joystick-brand-icon" />
                <a href="{{URL}}">New Games</a>
            </div>
            <div class="toggle-collapse">
                <div class="toggle-icons">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div class="nav-links">
                <ul class="nav-items">
                   {{links}}
                </ul>
            </div>

            <div class="nav-icons">
                <ul>
                    <li>
                        {{account}}
                    </li>
                    <li>
                        <a href="{{URL}}/wishlist" class="icon-item">
                            <i class="fas fa-heart"></i>          
                        </a>
                    </li>
                    <li>
                        <a href="{{URL}}/shopping-cart" onclick="setCart()" class="icon-item">
                            <i class="fas fa-shopping-cart"></i>
                            <span id="cart-total">
                                0
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>