<!-- Navigation -->
<nav class="nav">
    <div class="nav-menu flex">
        <div class="nav-brand">
            <img src="{{URL}}/app/Resources/images/game-controller.png" alt="joystick brand icon"
                id="joystick-brand-icon" />
            <a href="{{URL}}">New Games</a>
        </div>
        <div class="toggle-collapse">
            <div class="toggle-icons">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div>
            <ul class="nav-items">
               {{links}} 
            </ul>
        </div>
        <div class="nav-icons">
            <a href="{{URL}}/admin/logout" class="icon-item" style="display:flex;gap:0.4rem;">
                <i class="fas fa-sign-out-alt"></i>      
                Sair    
            </a>
        </div>
    </div>
</nav>