<main>
    <section>
        <div class="sign_up">
            <div class="container">
                <div class="second-container">
                    <form method="POST">
                        <p>SUPPLIER</p>
                        <div class="container-form-input">
                            <input type="text" name="name" placeholder="Name" required/>
                        </div>
                        <div class="container-form-input">
                            <input type="text" name="email" placeholder="Email" required>
                        </div>
                        <div class="container-form-input">
                            <input type="text" name="email" placeholder="2nd Email">
                        </div>                        
                        <div class="container-form-input">
                            <input type="number" name="phone" placeholder="Phone" required >
                        </div>
                        <div class="container-form-input">
                            <input type="number" name="phone" placeholder="2nd Phone">
                        </div>                        
                        <div class="container-form-input">
                            <input type="text" name="website" placeholder="Website"/>
                        </div> 
                        <div class="container-form-input">
                            <input type="number" name="fee" placeholder="Fee" required >
                        </div>                                               
                        <p>GAME</p>
                        <div class="container-form-input">
                            <input type="text" name="name" placeholder="Name" required/>
                        </div>
                        <div class="container-form-input">
                            <input type="number" name="price" placeholder="Price" required>
                        </div>
                        <div class="container-form-input">
                            <input type="file" name="image" required accept="image/png">
                        </div>
                        <div>
                            <input type="checkbox" id="horns" name="horns">
                            <label for="horns">Special Attention (e.g. put on the home carousel)</label>
                        </div>
                            <input type="submit" value="Add Game" class="register_btn">
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>