<main>
    <section>
        <div class="sign_up">
            <div class="container">
                <div class="second-container">
                    <form method="POST">
                        <p>SUPPLIER</p>
                        <div class="container-form-input">
                            <input type="text" name="name" placeholder="Name" required/>
                        </div>
                        <div class="container-form-input">
                            <input type="text" name="email" placeholder="Email" required>
                        </div>
                        <div class="container-form-input">
                            <input type="text" name="sec-email" placeholder="2nd Email">
                        </div>                        
                        <div class="container-form-input">
                            <input type="number" name="phone" placeholder="Phone" required >
                        </div>
                        <div class="container-form-input">
                            <input type="number" name="sec-phone" placeholder="2nd Phone">
                        </div>                        
                        <div class="container-form-input">
                            <input type="text" name="website" placeholder="Website"/>
                        </div> 
                        <div class="container-form-input">
                            <input type="number" name="fee" placeholder="Fee" required >
                        </div>                                               
                        <p>GAME</p>
                        <div class="container-form-input">
                            <input type="text" name="game_name" placeholder="Name" required/>
                        </div>
                        <div class="container-form-input">
                            <input type="number" name="price" placeholder="Price" required>
                        </div>
                        <div class="container-form-input">
                            <input type="text" name="category" placeholder="Category" required>
                        </div>
                        <div class="container-form-input">
                            <input type="text" name="category-desc" placeholder="Description" required>
                        </div>
                        <div class="container-form-input" style="display:flex;flex-direction:column;">
                            <label for="image">Game Image</label>
                            <input type="hidden" name="MAX_FILE_SIZE" value="30000" />
                            <input name="image" type="file" required accept="image/png">
                        </div>
                        <div>
                            <input type="checkbox" id="feature" name="feature">
                            <label for="feature">Featured Product</label>
                        </div>
                            <input type="submit" value="Add Game" class="register_btn">
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>