<main>
    <section>
        <div class="sign_in">
            <div class="sign_in-container content">
                <div class="second-container border-radius ">
                    <form method="post">
                        <p class="center_text text_style login_title">LOGIN</p>
                        {{status}}
                        <div class="container_username">
                            <i class="fa fa-user icon username_fig"></i>
                            <input type="email" name="email" placeholder="Email" required class="text_style border-radius username">
                        </div>
                        <div class="container_password">
                            <i class="fa fa-lock icon password_fig"></i>
                            <input type="password" name="password" placeholder="Password" required class="text_style border-radius username password">
                        </div>
                        <input type="submit" value="Sign In" class="text_style border-radius username login_btn">
                    </form>
                </div>
            </div>
        </div>

    </section>
</main>