<div class='game-content' id="{{game_id}}">
    <div>
        <img src="{{URL}}/app/Resources/images/{{game_img}}"></img>
    </div>
    <div class='game-title'>
        <h3>{{game_name}}</h3>
        <h4>R${{game_price}}</h4>
        <form method='post'>
            <button class='addBtn btn' type='submit' name='add'>Add to Cart</button>
            <input type='hidden' class="name-input" name='game_id' value="{{game_id}}">
            <input type='hidden' class="name-input" name='game_name' value="{{game_name}}">
            <input type='hidden' class="name-input" name='game_price' value="{{game_price}}">
            <input type='hidden' class="name-input" name='game_img' value="{{game_img}}">
            <input type='hidden' name='quantity' value='1'>
        </form>
    </div>
</div>